.first{
    color: black;
    text-decoration: none;
    
}
.second{
    color: #4BCAFF;
}
.logo{
    position: absolute;
    width: 1280px;
    height: 79px;
    left: 0px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-left: 100px;
}
.flex-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 1280px;
    height: 70px;
    left: 2px;
    top: 119px;
    background: #35444F;
    margin-top: 100px;
    margin-left: 100px;
    color:  #FFFFFF;;
    font-size: 24px;
    border: 1px solid #FFFFFF;   
}
.main-flex {
    display: flex;
    
}
.nav-aside {
    width: 344px;
    height: 399px;
    border: 1px solid  #000000;

    margin-left: 100px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav-aside-link {
    margin-left: 44px;
    font-family: 'Roboto';
    font-size: 27px;
    color: #485863;
}

.img-sheep {
    
    border: 1px solid  #000000;
    width: 885px;
    height: 530px;

    margin-top: 50px;
    margin-left: 50px;
}
.img {
    margin-left: 297px;
    margin-top: 75px;

}
.text {
    margin-left: 50px;
    margin-top: 37px;
}
.footer-nav-aside {

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);

    font-family: 'Roboto';
    font-size: 28px;
    color: #0C1927;

    margin-left: 100px;
    margin-top: 50px;
}
